gradio>=5.0.0
fastapi
uvicorn
motor
pymongo
python-dotenv
httpx
aiohttp
fpdf2
huggingface_hub
boto3
requests-oauthlib
cryptography
pydantic
email-validator
pyjwt
bcrypt
passlib
tzdata
python-jose
requests
pandas
numpy
python-multipart